<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="https://filocava99.github.io/Buildy/public/stylesheets/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://filocava99.github.io/Buildy/public/javascripts/project.js"></script>
</head>
<body>
<div class="header">
    <a href="#">
        <img class="centered-img inverted-img"
             src="https://cdnjs.cloudflare.com/ajax/libs/octicons/8.5.0/svg/arrow-left.svg" alt="bug icon"></a>
</div>
<div class="page">
    <div class="sidebar">
        <span class="sidebar-header">Project Info</span>
        <div class="sidebar-content">
            <table>
                <tr>
                    <td>
                        <img class="centered-img inverted-img"
                             src="https://cdnjs.cloudflare.com/ajax/libs/octicons/8.5.0/svg/mark-github.svg"
                             alt="bug icon">
                    </td>
                    <td><a href="#">GitHub repository</a></td>
                </tr>
                <tr>
                    <td>
                        <img class="centered-img inverted-img"
                             src="https://cdnjs.cloudflare.com/ajax/libs/octicons/8.5.0/svg/bug.svg" alt="bug icon">
                    </td>
                    <td><a href="#">Issues</a></td>
                </tr>
                <tr>
                    <td>
                        <img class="centered-img inverted-img"
                             src="https://cdnjs.cloudflare.com/ajax/libs/octicons/8.5.0/svg/checklist.svg"
                             alt="bug icon">
                    </td>
                    <td><a href="#">Last successful build</a></td>
                </tr>
                <tr>
                    <td>
                        <img class="centered-img inverted-img"
                             src="https://cdnjs.cloudflare.com/ajax/libs/octicons/8.5.0/svg/check.svg" alt="bug icon">
                    </td>
                    <td><a href="#">#</a></td>
                </tr>
            </table>
        </div>
        <span class="sidebar-header">Builds</span>
        <div class="builds">
            {{#each builds}}
                {{#if (isEven this.id)}}
                <div class="build build-even">
                {{else}}
                <div class="build build-odd">
                {{/if}}

                <svg class="build-state" height="25" width="25">
                    {{#if this.isSuccess}}
                        <circle cx="15" cy="24" r="12" stroke="rgb(60, 100, 60)" stroke-width="2"
                                fill="rgb(20, 255, 20)"></circle>
                    {{else}}
                        <circle cx="15" cy="24" r="12" stroke="rgb(100, 60, 60)" stroke-width="2"
                                fill="rgb(255, 20, 20)"></circle>
                    {{/if}}
                </svg>
                <a href="#" data-build-id="{{this.id}}" class="build-id-link">#{{this.id}}</a>
                <a href="#" data-build-id="{{this.id}}" class="build-timestamp-link">08/03/2022 14:30:15</a>
            </div>
            {{/each}}
        </div>
        </div>
        <div class="content">
            {{#each builds}}
                {{#if (isLatestBuild ../latestBuildId this.id)}}
                <div class="build-content" id="selected-build" data-build-id="{{this.id}}">
                {{else}}
                <div class="build-content hidden" data-build-id="{{this.id}}">
                {{/if}}
                <div class="content-header">
                    <svg preserveAspectRatio="xMidYMid meet" width="15%" height="100%">
                        {{#if this.isSuccess}}
                            <circle cx="50%" cy="50%" r="25%" stroke="rgb(60, 100, 60)" stroke-width="2%"
                                    fill="rgb(20, 255, 20)"></circle>
                        {{else}}
                            <circle cx="50%" cy="50%" r="25%" stroke="rgb(100, 60, 60)" stroke-width="2%"
                                    fill="rgb(255, 20, 20)"></circle>
                        {{/if}}
                    </svg>
                    <div class="content-header-title">
                        {{this.buildStatus}}
                    </div>
                </div>
                <table class="build-info">
                    {{#if this.isSuccess}}
                        <tr class="build-info-header">
                            <td><img class="centered-img inverted-img" alt="download"
                                     src="https://cdnjs.cloudflare.com/ajax/libs/octicons/8.5.0/svg/cloud-download.svg">
                            </td>
                            <td>Download (.jar)</td>
                            <td>{{this.projectName}}</td>
                        </tr>
                    {{/if}}
                    <tr class="build-info-row">
                        <td><img class="centered-img inverted-img" alt="download"
                                 src="https://cdnjs.cloudflare.com/ajax/libs/octicons/8.5.0/svg/file.svg"></td>
                        <td>Build Log</td>
                        <td>[project name]</td>
                    </tr>
                    <tr class="build-info-row">
                        <td><img class="centered-img inverted-img" alt="download"
                                 src="https://cdnjs.cloudflare.com/ajax/libs/octicons/8.5.0/svg/file-code.svg"></td>
                        <td>Source Code</td>
                        <td>[project name]</td>
                    </tr>
                    <tr class="build-info-row">
                        <td><img class="centered-img inverted-img" alt="download"
                                 src="https://cdnjs.cloudflare.com/ajax/libs/octicons/8.5.0/svg/law.svg"></td>
                        <td>License</td>
                        <td>[project name]</td>
                    </tr>
                </table>
                <div class="commit">
                    <div class="commit-header">
                        <img class="committer-avatar" alt="avatar"
                             src="https://avatars.githubusercontent.com/u/1363669?v=4">
                        <span class="commit-header-message">{{this.committer}} committed on {{this.commitTimestamp}}
                            #{{this.commitSha}}</span>
                    </div>
                    <div class="commit-body">
                        "{{this.commitMessage}}"
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
        </div>
        <span class="copyright">© 2022 Filippo Cavallari</span>
</body>
</html>